body{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #202020;
    color: #ffffff;
}

#scanning{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 10;
    background-color: #202020c0;
    margin: 0;
    font-size: 30px;
    justify-content: center;
    align-items: center;
    display: none;
}

nav{
    width: 99%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    margin: 10px 5px;
}

nav > div{
    flex-basis: 100%;
    cursor: pointer;
    text-align: center;
    border: 2px solid #ffffff;
    border-radius: 5px;
    padding: 10px;
}

#encrypt, #decrypt{
    margin: 10px 5px;
    padding: 10px;
    border: 2px solid rgb(255, 89, 0);
    border-radius: 5px;
    height: 100%;
    min-height: calc(100vh - 175px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    margin: 0;
}

nav div , #encrypt, #decrypt{
    transition: all ease-in-out .1s;
}

h2{
    margin: 20px 0;
    color: rgb(255, 89, 0);
    text-decoration: underline;
}

h3{
    margin: 10px 0;
    text-decoration: underline;
    width: 100%;
    max-width: 500px;
    text-align: left;
}

span{
    cursor: pointer;
    text-decoration: underline;
    width: 100%;
    max-width: 500px;
    text-align: right;
}

hr{
    margin: 20px 0;
    background-color: rgb(255, 89, 0);
    border: none;
    height: 1px;
}

input{
    border: 2px solid rgb(255, 89, 0);
    background-color: rgb(68, 68, 68);
    font-weight: bold;
    color: #ffffff;
    padding: 13px 10px;
    margin: 10px 0;
    border-radius: 5px;
    width: 93%;
    max-width: 475px;
}

::placeholder{
    color: #9f9f9f;
}

button{
    margin: 5px 0;
    border: none;
    background-color: rgb(255, 89, 0);
    color: #ffffff;
    font-weight: bold;
    padding: 13px 10px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    max-width: 500px;
}

table{
    border-collapse: collapse;
    width: 100%;
    max-width: 500px;
    display: none;
}
video, canvas{
    border: 2px solid rgb(255, 89, 0);
    width: 100%;
    height: 50px;
}